h1   {

	font: Arial;
	font-size: 24px;
	color: #ffffff;
	text-align: left;
	text-shadow: 2px 2px #ff0000;
}

a : link {
	font: Arial;
	font-size: 24px;
	color: #ffffff;
	text-align: left;
	text-shadow: 3px 3px #ff0000;
}